


.bg--header-bg {background-image: url('../../images/header-bg.jpg');}
.bg--info-bg {background-image: url('../../images/info-bg.jpg');}
.bg--technology-bg {background-image: url('../../images/technology-bg.jpg');}
